$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Inter', sans-serif;
$primary-color: #83cd8f;
$black-color: #090f1f;
$white-color: #fff;
$brand-color: #fed500;
$country-card-color: #eef6e7;
$card-p-text-color: #2c3347;
$border-color: #e3e3e3;
$banner-bg-color: #fffade;
$footer-secondary-color: #151b2a;
