.header_section {
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .logo {
      @include flex-items-start-center;
      h3 {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }
    }
    nav {
      ul {
        @include flex-items-start-center;
        gap: 30px;
        li {
          a {
            font-family: $font-secondary;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            transition: all 0.2s linear;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
    .btn-contact {
      padding: 20px 30px;
      border-radius: 999px;
      background: $country-card-color;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; /* 110% */
      transition: all 0.2s linear;
      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
