.header_section {
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    .logo {
      @include flex-items-start-center;
      h3 {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }
    }
    nav {
      ul {
        @include flex-items-start-center;
        gap: 30px;
        li {
          a {
            @include flex-items-start-center;
            font-family: $font-secondary;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            transition: all 0.2s linear;
            gap: 5px;
            &:hover {
              color: $primary-color;
            }
            i {
              font-size: 10px;
              font-style: normal;
              font-weight: 900;
            }
          }
        }
      }
    }
    .btn-contact {
      background-color: $country-card-color;
      &:hover {
        background-color: $primary-color;
        color: $white-color;
      }
    }
  }
}
